@charset "utf-8";
#dashboard{
	display: block;
	padding: 5px;
	height: 75px;
	width: 100%;
	position: fixed;
	background-color: #099;
	top: 0px;
	text-align:right;
	color: #000;
	left: 0 px;
	right: 0px;
	border: 1px inset #066;
	opacity:0.9;
	box-shadow:7px 10px 10px #999;
	
}#dashboard ul {
	margin-right: 10px;
	margin-left: 10px;
	list-style-type: none;
	font-size: medium;
	position: fixed;
	left: 20%;
	width:70%;
	right: ;
}


#dashboard li
{
	
	display: block;
	float:left;
	height: 100px;
	width: 200px;
		margin: 10px;
	
	font-size:36px;
	padding: 10px;
	color: #000000;
		border-radius:8px;
	font-weight: bold;
}
.dashboard a{
	text-decoration:none;
	height: 100px;
	width: 200px;
	display: block;
	text-align:center;
	vertical-align:middle;
	color:#000000;
	border-radius:8px;
	font-family:"Courier New", Courier, monospace;
	
}
.dashboard a table
{
	padding:25px;
	font-size:24px;
	font-weight:bold;
	
}
.dashboard a table td
{
	text-align:center;
	
}
.menushadow
{
	

	box-shadow:5px 8px 15px #666;
	border: 1px solid #000000;	
}
#imgpro
{
	box-shadow:10px 20px 20px 10px #666 inset;
}/* CSS Document */

